<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Service Genie</title>
    <link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">
    <style>
h1 {
	text-align: center;
}
</style>
</head>
<body>

<br>
<div class="container">

    <h1>CUSTOMER BUY SERVICE PAGE</h1>
    <p th:text="${msg}"></p>
    <br>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a th:href="@{/view-customer-home}">Home</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/buy-service}">Buy Service</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-offers}">Offers</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-orders}">Orders</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-profile}">Profile</a>
            <a href="">Reviews</a>&nbsp; &nbsp; &nbsp;
        </li>
        <hr style="width:60%;" >

    </ul>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">price</th>
            <th scope="col">Buy</th>
        </tr>
        </thead>
        <tbody>
        <form th:each="service: ${serviceList}" th:action="@{/pay-serviceForCustomers/}+${serviceForCustomers.serviceID}" method="post">

            <tr>
                <td th:text="${service.serviceName}" />
                <td th:text="${service.serviceDescription}" />
                <td th:text="${service.servicePrice}" />

                <input type="hidden" th:value="${service.serviceID}" name="id" />

                <td>

                    <button type="submit"class="btn btn-success">Buy</button>

                </td>
            </tr>
        </form>
        </tbody>
    </table>

</div>
</body>
</html>