<!DOCTYPE HTML>
<html>
<body>

<h2>Register as : </h2>


<h2>Customer : </h2>
<form action="/RegisterAsCustomer" method="post">
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid" placeholder="Your EmailId"><br>
  <label>Password:</label><br>
  <input type="password" id="customer-password" name="customer-password" ><br>
  <label>Re-enter Password to Confirm :</label><br>
  <input type="password" id="confirm-customer-password" name="confirm-customer-password" ><br><br>
  <input type="submit" value="Submit">
</form>

<h2>Service Provider : </h2>
<form action="/RegisterAsServiceProvider" method="post">
  <label>USER ID:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-userid" name="service-provider-userid" placeholder="Your User Id"> <br> <br>
  
  <label>First Name:</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-fname" name="service-provider-fname" placeholder="Your First Name"> <br> <br>
  
  <label>Last Name:</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-lname" name="service-provider-lname" placeholder="Your Last Name"> <br> <br>
  
  <label>Email:</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="email" id="service-provider-email" name="service-provider-email" placeholder="Your Email"> <br> <br>

  <label>Contact Number:</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="number" id="service-provider-contact-number" name="service-provider-contact-number" placeholder="Your Contact Number"> <br> <br>
  
  <label>Street Name:</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-street" name="service-provider-street" placeholder="Your Street Name"> <br> <br>
  
  <label>Apartment Number:</label>&nbsp; &nbsp; &nbsp;
  <input type="number" id="service-provider-apt-number" name="service-provider-apt-number" placeholder="Your Apartment Number"> <br> <br>
  
  <label>City:</label>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-city" name="service-provider-city" placeholder="Your City"> <br> <br>
  
  <label>Zip code:</label>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-zipcode" name="service-provider-zipcode" placeholder="Your Zipcode"> <br> <br>
  
  <label>Province:</label>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="text" id="service-provider-province" name="service-provider-province" placeholder="Your Province"> <br> <br>
  
  <label>Country:</label>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
  <input type="text" id="service-provider-country" name="service-provider-country" placeholder="Your Country"> <br> <br>
    
  <label>Category:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
  <select name="service-provider-category" id="service-provider-category">
	  <option value="hardware">Hardware</option>
	  <option value="electrical">Electrical</option>
	  <option value="cleaning">Cleaning</option>
	  <option value="grooming">Grooming</option>
	  <option value="repairing">Repairing</option>
  </select>  <br> <br>
  
  <label>Services Description:</label>&nbsp; &nbsp;&nbsp;
  <input type="text" id="service-provider-service-description" name="service-provider-service-description" placeholder="Service Description"> <br> <br>
  
  <label>Password:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="password" id="service-provider-password" name="service-provider-password" > <br> <br> 
  
  <label>Confirm Password:</label>  &nbsp; &nbsp; &nbsp;
  <input type="password" id="confirm-service-provider-password" name="confirm-service-provider-password" > <br> <br>
  
  <input type="submit" value="Submit">
</form>

<h2>ADMIN : </h2>
<form action="/admin-authentication" method="post">
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>