<!DOCTYPE HTML>
<html>
<body>
    <h1 style="background-color:Red";>REGISTRATION FAILED : UserId of this registration type exists already</H1>
    
<h2>LOGIN AS : </h2>


<h2>Customer : </h2>
<form action="/customer-authentication" method="post">
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="customer-password" name="customer-password" ><br><br>
  <input type="submit" value="Submit">
</form>

<h2>Service Provider : </h2>
<form action="/service-provider-authentication" method="post">
  <label>USER ID:</label><br>
  <input type="text" id="service-provider-userid" name="service-provider-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form>

<h2>ADMIN : </h2>
<form action="/admin-authentication" method="post">
  <label>USER ID:</label><br>
  <input type="text" id="customer-userid" name="customer-userid"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>