<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Service Genie</title>
    <link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">
    <style>
h1 {
	text-align: center;
}
    </style>
</head>
<body>
<br>
<div class="container">
    <h1>CUSTOMER HOME PAGE</h1>
    <p th:text="${msg}"></p>
    <br>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a th:href="@{/view-customer-home}">Home</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/buy-service}">Buy Service</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-offers}">Offers</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-orders}">Orders</a> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/view-customer-profile}">Profile</a>
            <a href="">Reviews</a>
        </li>
        <br>
    </ul>
</div>
</body>
</html>